body { font-family: Arial; }

.container {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
}
.card {
    border: 1px solid #ccc;
    padding: 15px;
    width: 260px;
    border-radius: 5px;
    cursor: pointer ;
}
.actions {
    display: flex;
    justify-content: space-between;
    margin-top: 10px;
}
#a_id{
    display: none;
}